black
boto3
dvc[all]
hydra-core
hydra_colorlog
ipywidgets
matplotlib
nose
notebook
pandas
pathlib
pipreqs
pre-commit
pylint
python-crontab
pytorch-lightning
PyYAML
reorder-python-imports
tabulate
torch
torch-tb-profiler
torchaudio
torchvision
wandb
