autoflake
black
blacken-docs
boto3
docformatter
dvc[all]
dvclive
hydra-core
hydra_colorlog
ipywidgets
matplotlib
nose
notebook
pandas
pathlib
pipreqs
pre-commit
pylint
python-crontab
python-crontab
pytorch-lightning
PyYAML
PyYAML
reorder-python-imports
SoundFile
tabulate
torch
torch-model-archiver
torch-tb-profiler
torchaudio
torchserve
torchvision
wandb
